.wrapper {
  max-width: 720px;
}

.header {
  padding-top: 20px;
  padding-bottom: 12px;
  margin-left: 20px;
}

.header img {
  border: none;
}

.contentWrapper {
  padding: 20px 30px;
  max-width: 600px;
  background: #FEFFFF;
}

.faqTitle {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.backIcon {
  position: relative;
  top: 4px;
  filter: invert(32%) sepia(80%) saturate(1253%) hue-rotate(206deg) brightness(92%) contrast(88%);
  width: 18px;
  height: 18px;
}

.tags {
  margin-bottom: 20px;
}

.tag {
  margin-right: 14px;
}

.tag a {
  color: #A5A6A9;
  font-style: italic;
}

.source {
  float: right;
}

/* 320, 418, 641, 961, 1025, 1281 */

/* cube: start */

.cube {
  pointer-events: none;
  position: absolute;
  width: 125px;
  right: -50px;
  top: -59px;
}


@media (min-width:641px)  {
  .wrapper {
    margin-left: 149px;
  }

  .cube {
    width: 210px;
    left: -80px;
    top: -9px;
  }
}

@media (min-width:961px)  {
  .wrapper {
    margin-left: 188px;
  }

  .cube {
    width: 250px;
    left: -80px;
    top: -22px;
  }
}

@media (min-width:1025px)  {
  .wrapper {
    margin-left: 243px;
  }

  .cube {
    width: 300px;
    left: -80px;
    top: -40px;
  }
}

@media (min-width:1281px)  {
  .wrapper {
    margin-left: 294px;
  }

  .cube {
    width: 372px;
    left: -80px;
    top: -74px;
  }
}

/* cube: end */
