.wrapper {
  max-width: 720px;
  min-height: 1024px;
}

.header {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 20px;
  overflow: hidden;
}

.header img {
  border: none;
}

.contentWrapper {
  padding: 20px 30px;
  max-width: 650px;
  background: var(--color-white);
  min-height: 250px;
  border-radius: 1px;
}

.contentWrapper a {
  color: var(--color-dark-gray);
}

.subcontentWrapper {
  padding: 20px 30px;
  opacity: 0.8;
}

.genericSubcontentWrapper {
  padding: 20px 30px;
  opacity: 0.8;
}

.subcontentWrapper h2 {
  font-size: 18px;
  opacity: 0.8;
}

.sidebar {
  padding: 20px 30px;
  opacity: 0.8;
}

.sidebar p {
  font-size: 16px;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar img {
  height: 22px;
  filter: invert(32%) sepia(6%) saturate(295%) hue-rotate(251deg)
    brightness(92%) contrast(89%);
}

@media (prefers-color-scheme: dark) {
  .sidebar img {
    filter: invert(100%);
  }
}

.sidebar a {
  padding-left: 6px;
  color: var(--color-very-dark-gray);
}

.subcontentWrapper a {
  line-height: 22px;
}

.subcontentWrapper h2 a {
  text-decoration: none;
  color: var(--color-very-dark-gray);
}

.faqTitle {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark-gray);
}

.faqTitle:hover,
.faqTitle:active {
  color: var(--color-very-dark-gray);
}

.backIcon {
  position: relative;
  top: 4px;
  filter: invert(74%) sepia(6%) saturate(102%) hue-rotate(188deg)
    brightness(87%) contrast(97%);
  width: 16px;
  height: 16px;
}

.meta a {
  color: var(--color-medium-gray);
  font-size: 14px;
}

.meta .sourceLink,
.meta .editLink {
  float: right;
  margin-left: 5px;
}

.relatedTags {
  padding: 10px 30px;
}

.relatedTags h2 {
  color: var(--color-dark-gray);
}

.relatedTags a {
  color: var(--color-dark-gray);
  display: block;
  padding-bottom: 6px;
}

.disclaimer {
  margin: 5px auto;
  color: var(--color-dark-gray);
  font-size: 14px;
  text-align: center;
}

.disclaimer a {
  color: var(--color-dark-gray);
}

.tagcloud {
  margin: 30px auto 50px auto;
  max-width: 450px;
  text-align: center;
}

.tagcloud {
}

.tagcloud > div > span {
  font-size: 16px;
  margin: 0 auto;
  background-color: var(--color-very-very-very-light-gray);
}

.contentWrapper .tag {
  background-color: var(--color-very-very-very-light-gray);
}

.genericSubcontentWrapper a {
  color: var(--color-dark-gray);
}

.genericSubcontentWrapper a:hover {
  color: var(--color-very-dark-gray);
}

/* 320, 418, 641, 961, 1025, 1281 */

/* cube: start */

.cube {
  pointer-events: none;
  position: absolute;
  width: 95px;
  right: -21px;
  top: -14px;
  display: none;
}

@media (min-width: 380px) {
  .cube {
    display: block;
  }
}

@media (min-width: 641px) {
  .wrapper {
    margin-left: 135px;
  }

  .cube {
    width: 210px;
    left: -80px;
    top: -19px;
  }
}

@media (min-width: 961px) {
  .wrapper {
    margin-left: 170px;
  }

  .cube {
    width: 250px;
    left: -80px;
    top: -30px;
  }
}

@media (min-width: 1025px) {
  .wrapper {
    margin-left: 223px;
  }

  .cube {
    width: 300px;
    left: -80px;
    top: -80px;
  }
}

@media (min-width: 1281px) {
  .wrapper {
    margin-left: 294px;
  }

  .cube {
    width: 372px;
    left: -80px;
    top: -113px;
  }
}

/* cube: end */

@media (min-width: 1281px) {
  .sidebar {
    position: absolute;
    top: 350px;
    left: -60px;
    width: 350px;
  }
}

@media (min-width: 1281px) {
  .subcontentWrapper {
    position: absolute;
    top: 100px;
    left: 950px;
    bottom: 20px;
    overflow: hidden;
    padding-right: 0px;
    padding-top: 0px;
  }

  .contentWrapper .subcontentWrapper {
    position: inherit;
  }
}
