@import 'bulma/css/bulma.css';

/*
 * #FEFFFF white
 * #F5FCFF off-white
 * #CDD1D4 very light gray
 * #A5A6A9 light gray
 * #7C7B7F dark gray
 * #545054 very dark gray
 * #2C2529 black
 * #FF3246 red
 * #4062D6 blue (currently unused)
 * #0AD096 green (currently unushed)
 */
 
html,
body {
  padding: 0;
  background: #F5FCFF;
  color: #2C2529;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #FF3246;
}

a {
  color: #4062D6;
  text-decoration: underline;
}

a:hover {
  color: #4062D6;
}

* {
  box-sizing: border-box;
}

.content p {
  font-size: 19px;
  font-weight: 400;
}

.navbar {
  height: 80px;
  z-index: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #FF3246;
  position: absolute;
}

/* 320, 418, 641, 961, 1025, 1281 */
