@import 'bulma/css/bulma.css';

/*
 * #FEFFFF white
 * #F5FCFF off-white
 * #F2F4F7 offer-white
 * #E8EAED very very very very light gray (lol)
 * #DEE0E3 very very very light gray
 * #D4D6D9 very very light gray
 * #CDD1D4 very light gray
 * #A5A6A9 light gray
 * #7C7B7F dark gray
 * #545054 very dark gray
 * #2C2529 black
 * #FF3246 red
 * #4062D6 blue (currently unused)
 * #0AD096 green (currently unushed)
 */
 
html,
body {
  padding: 0;
  background: #F5FCFF;
  overflow-x: hidden;
  color: #2C2529;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #FF3246;
}

a {
  color: #4062D6;
  text-decoration: underline;
}

a:hover {
  color: #4062D6;
}

* {
  box-sizing: border-box;
}

.content p {
  font-size: 19px;
  font-weight: 400;
}

.navbar {
  height: 80px;
  z-index: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #FF3246;
  position: absolute;
}

.content blockquote {
  background: #F2F4F7;
  font-style: italic;
  font-size: 20px;
  line-height: 31px;
  padding: 20px 30px;
  border-color: #CDD1D4;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.saito {
  background: url("/small-cube.png") 0px 1px no-repeat;
  padding-left: 22px;
  display: inline-block;
}

.tags {
  margin-bottom: 20px;
}

.tag {
  margin-right: 14px;
}

.tag a {
  color: #7C7B7F;
  text-decoration: none;
}


/* 320, 418, 641, 961, 1025, 1281 */
